{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
        <style type="text/css">
            .goog-te-banner-frame.skiptranslate{display:none!important;}
            body{top:0px!important;}
        </style>
</head>
<body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
    
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
    
                <!-- Main Content -->
                <div id="content">
        <div class="container-fluid">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" align="Center">Possible predicted data for your farm</h6>
                </div>
                <div class="card-body">
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
 
                        <hr>
                        <div class="container-fluid" style="background:#fff; padding:5px 5px; border:1px; border-radius:6px;">
                            <h4 style="color:orange;">Crop Predicted : {{predicted_crop}}</h4>

                            <h4 style="color:orange;">Reason: </h4></br>
                            <p> According to the average rainfall in your area in the rainy season being {{rainavg}}, your appropriate climatic conditions in the surrounding and the market trend is the highest than other crops with {{market_trend}} %,  it is the best predicted crop for you and we suggest you to grow this predicted from</p>
                        </div>
                        <hr>
                    </div>
                </div>
            </div> 
        </div>    
    </div>
</div>
</div>
</div>

<script type="text/javascript">
    $.cookie('googtrans', '/en/hi');
</script>
<center>
    <div id="google_translate_element"></div>
</center>


<script type="text/javascript">
    function googleTranslateElementInit() {
     new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
</script>


    
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
</html>